body{
  background-color: #347687;
  text-align: center;
}
h1{
  font-size: 8rem;
  color: #eeeeee;
  text-shadow: 8px 8px #777777;
  margin-top: 20px;
}

footer{
  margin-top: 50px;
  color: #ccc;
  font-size: 2rem;
}

.drum{
  height: 150px;
  width: 150px;
  font-size: 5rem;
  line-height: 2;
  display: inline-block;
  color: #ADC2A9;
  margin:50px 15px;
  border-radius: 8px;
  font-weight: 900;
}

.pressed{
  border-width: thick;
  opacity: 0.5;
  box-shadow: 0 3px 4px 0 #DBEDF3;
}

.w{
  background-image: url("images/tom1.png");
}

.a{
  background-image: url("images/tom2.png");
}

.s{
  background-image: url("images/tom3.png");
}

.d{
  background-image: url("images/tom4.png");
}

.j{
  background-image: url("images/snare.png");
}

.k{
  background-image: url("images/crash.png");
}

.l{
  background-image: url("images/kick.png");
}
